<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=message%></title>
</head>
<body>
  &nbsp;&nbsp;|&nbsp;&nbsp;
  <a href="/staffs">Back to Staffs</a>
  <h2>Add a Staff</h2>
  <form action="/staffs/create2" method="POST">
    <label>Email:<br>
      <input type="email" name="email" value="<%= emailInput || '' %>" required />
    </label>
    <br><br>

    <label>Department:<br>
      <input type="text" name="department" value="<%= departmentInput || '' %>" required />
    </label>
    <br><br>

    <label>Title:<br>
      <input type="text" name="title" value="<%= titleInput || '' %>" required />
    </label>
    <br><br>

    <label>Date Joined:<br>
      <input type="date" name="date_joined" value="<%= dateJoinedInput || '' %>" required />
    </label>
    <br><br>

    <button type="submit">Submit</button>
  </form>
  <% if (staff) { %>
    <div>
      <h2>Staff Added to Database:</h2>
      <ul>
        <li>
          <strong>Email:</strong> <%= staff.email %><br />
          <strong>Department:</strong> <%= staff.department %><br />
          <strong>Title:</strong> <%= staff.title %><br />
          <strong>Date Joined:</strong> <%= staff.date_joined %>
        </li>
      </ul>
    </div>
  <% } else { %>
    <p><%= message %></p>
  <% } %>
</body>
</html>
