<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  &nbsp;&nbsp;|&nbsp;&nbsp;
  <a href="/staffs">Back to Staffs</a>
  <h2>Delete a Staff</h2>
<form action="/staffs/delete2" method="POST">
  <label>Email of Staff to Delete:<br>
    <input type="text" name="email" value="<%= emailInput %>" />
  </label><br><br>
  <button type="submit">Submit</button>
</form>
<% if (staff) { %>
  <div>
    <h2>Staff Deleted from Database:</h2>
    <ul>
      <li>
        <strong>Email:</strong> <%= staff.email %><br />
        <strong>Department:</strong> <%= staff.department %><br />
        <strong>Title:</strong> <%= staff.title %><br />
        <strong>Date Joined:</strong> <%= staff.date_joined %>
      </li>
    </ul>
  </div>
<% } else { %>
  <p><%= message %></p>
<% } %>
</body>
</html>