<h2>User</h2>
<%= message %>

<% if (user) { %>
  <ul>
    <li>
      <strong>Email:</strong> <%= user.email %><br>
      <strong>Department:</strong> <%= user.department %><br>
      <strong>Title:</strong> <%= user.title %><br>
      <strong>Date Joined:</strong> <%= user.date_joined %>
    </li>
  </ul>
<% } %>